body {
	font-family: monospace;
	font-size: 1.5rem;
}

div#header, div#continued-header {
	text-align: center;
}


div#end-section {
	font-size: smaller;
}

div#theme-switcher {
	width:2em;
	height: 2em;
	cursor: pointer;
}

@media (orientation: landscape) {
	body {
		margin-left: 10%;
		margin-right: 10%;
	}
}

body {
	--body-background-color: white;
	--body-color: black;
	--link-color:  #0000EE;
	--link-visited-color:  #551A8B;
}

@media (prefers-color-scheme: dark) {
	body {
		--body-background-color: black;
		--body-color: white;
		--link-color: lightskyblue;
		--link-visited-color: mediumpurple;
	}
}

body[data-theme="light"] {
	--body-background-color: white;
	--body-color: black;
	--link-color:  #0000EE;
	--link-visited-color:  #551A8B;
}

body[data-theme="dark"] {
	--body-background-color: black;
	--body-color: white;
	--link-color: lightskyblue;
	--link-visited-color: mediumpurple;
}

body {
	background-color: var(--body-background-color);
	color: var(--body-color);
}

a:link {
	color: var(--link-color);
}

a:visited {
	color: var(--link-visited-color);
}
